- page_title _("Terminal for environment"), @environment.name
- add_page_specific_style 'page_bundles/terminal'
- content_for :page_specific_javascripts do
  = universal_stylesheet_link_tag "xterm.css"

.top-area
  .row
    .col-sm-6
      %h1.page-title.gl-font-size-h-display
        = _("Terminal for environment")
        = @environment.name

    .col-sm-6
      .nav-controls
        - if @environment.external_url.present?
          = link_button_to nil, @environment.external_url, target: '_blank', rel: 'noopener noreferrer nofollow', icon: 'external-link'
        = render 'projects/deployments/actions', deployment: @environment.last_deployment

.terminal-container{ class: container_class }
  #terminal.gl-mt-4{ data: { project_path: "#{terminal_project_environment_path(@project, @environment)}.ws" } }
